@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body, button {
  font-family: "Ubuntu", sans-serif;
}

.nav-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
@media only screen and (min-width: 920px) {
  .nav-indicator {
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: auto;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 80px 0px 15px;
    cursor: default;
  }
}
.nav-indicator .nav-item__container {
  display: flex;
  align-items: center;
}
.nav-indicator .step {
  display: none;
}
@media only screen and (min-width: 920px) {
  .nav-indicator .step {
    display: block;
    color: hsl(231, 11%, 63%);
    font-size: 0.7rem;
    margin-bottom: 3px;
  }
}
.nav-indicator .title {
  display: none;
}
@media only screen and (min-width: 920px) {
  .nav-indicator .title {
    display: block;
    white-space: nowrap;
    color: white;
    font-size: 0.7rem;
    font-weight: 800;
  }
}
.nav-indicator .nav-item {
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-indicator .nav_active {
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
}

.personal-info__form {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: auto;
  padding: 40px 5% 20px 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -15px #e9e9e9;
}
@media only screen and (min-width: 920px) {
  .personal-info__form {
    padding: 35px 7% 75px 7%;
    box-shadow: none;
  }
}
.personal-info__form .title {
  margin-bottom: 13px;
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
  cursor: default;
}
.personal-info__form .description {
  margin-bottom: 25px;
  color: hsl(231, 11%, 63%);
  cursor: default;
}
.personal-info__form .label__container {
  display: flex;
  justify-content: space-between;
}
.personal-info__form .label__container label {
  color: hsl(213, 96%, 18%);
  margin-bottom: 3px;
  font-size: 0.8rem;
}
.personal-info__form .label__container .required {
  color: hsl(353, 84%, 57%);
  font-weight: 600;
  font-size: 0.7rem;
}
.personal-info__form .input--required {
  border-color: hsl(353, 84%, 57%);
}
.personal-info__form input {
  height: 40px;
  border: 1px solid hsl(231, 23%, 87%);
  border-radius: 5px;
  padding: 17px;
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}
.personal-info__form input:hover, .personal-info__form input:focus {
  border-color: hsl(243, 100%, 62%);
}
.personal-info__form input::-moz-placeholder {
  color: hsl(231, 11%, 63%);
}
.personal-info__form input::placeholder {
  color: hsl(231, 11%, 63%);
}
.personal-info__form input:focus {
  outline: none;
}
.personal-info__form span {
  color: hsl(353, 84%, 57%);
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 0.6rem;
  opacity: 0;
}
.personal-info__form .--invalid {
  border-color: hsl(353, 84%, 57%);
  color: hsl(353, 84%, 57%);
  opacity: 1;
}

.submit-footer {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 15px 5%;
}
@media only screen and (min-width: 920px) {
  .submit-footer {
    position: initial;
    width: 100%;
    background-color: transparent;
    right: calc(5% - 5px);
    bottom: 10px;
  }
}
.submit-footer .go-back-button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: hsl(231, 11%, 63%);
}
@media only screen and (min-width: 920px) {
  .submit-footer .go-back-button {
    cursor: pointer;
  }
  .submit-footer .go-back-button:hover {
    color: hsl(213, 96%, 18%);
  }
}
.submit-footer .next-step {
  background-color: hsl(213, 96%, 18%);
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
@media only screen and (min-width: 920px) {
  .submit-footer .next-step {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
  .submit-footer .next-step:hover {
    background-color: #0458be;
  }
}
.submit-footer .confirm {
  background-color: hsl(243, 100%, 62%);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
}
@media only screen and (min-width: 920px) {
  .submit-footer .confirm {
    cursor: pointer;
  }
  .submit-footer .confirm:hover {
    background-color: #908aff;
  }
}

.select-plan__form {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: auto;
  padding: 40px 5% 20px 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -15px #e9e9e9;
}
@media only screen and (min-width: 920px) {
  .select-plan__form {
    padding: 35px 7% 75px 7%;
    box-shadow: none;
  }
}
.select-plan__form .title {
  margin-bottom: 13px;
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
}
@media only screen and (min-width: 920px) {
  .select-plan__form .title {
    cursor: default;
  }
}
.select-plan__form .description {
  margin-bottom: 25px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (min-width: 920px) {
  .select-plan__form .description {
    cursor: default;
  }
}
@media only screen and (min-width: 920px) {
  .select-plan__form .select-plan__choice-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.select-plan__form .select-plan__choice-container .plan__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid hsl(231, 23%, 87%);
  border-radius: 7px;
  margin-bottom: 12px;
}
@media only screen and (min-width: 920px) {
  .select-plan__form .select-plan__choice-container .plan__container {
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }
  .select-plan__form .select-plan__choice-container .plan__container:hover {
    border-color: hsl(243, 100%, 62%);
  }
  .select-plan__form .select-plan__choice-container .plan__container:not(:first-child) {
    margin-left: 10px;
  }
}
.select-plan__form .select-plan__choice-container .plan__container--yearly {
  padding-top: 10px;
  padding-bottom: 15px;
}
.select-plan__form .select-plan__choice-container .plan__container--active {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(218, 100%, 97%);
}
.select-plan__form .select-plan__choice-container .plan__icon {
  margin: 15px;
}
.select-plan__form .select-plan__choice-container .plan__icon--yearly {
  margin-top: 5px;
}
@media only screen and (min-width: 920px) {
  .select-plan__form .select-plan__choice-container .plan__text {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
.select-plan__form .select-plan__choice-container .plan__text .plan__title {
  color: hsl(213, 96%, 18%);
  font-size: 1rem;
  margin-bottom: 7px;
}
.select-plan__form .select-plan__choice-container .plan__text .plan__price {
  margin-bottom: 4px;
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
}
.select-plan__form .select-plan__choice-container .plan__text .plan__free-months {
  color: hsl(213, 96%, 18%);
  font-size: 0.7rem;
  margin-top: 7px;
}
.select-plan__form .options__container {
  background-color: hsl(218, 100%, 97%);
  border-radius: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.select-plan__form .options__choice {
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
  font-weight: 500;
}
@media only screen and (min-width: 920px) {
  .select-plan__form .options__choice {
    cursor: default;
  }
}
.select-plan__form .options__choice--active {
  color: hsl(213, 96%, 18%);
}
.select-plan__form .toggle__container {
  width: 40px;
  height: 20px;
  background-color: hsl(213, 96%, 18%);
  margin: auto 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 920px) {
  .select-plan__form .toggle__container {
    cursor: pointer;
  }
}
.select-plan__form .toggle__container--yearly {
  justify-content: flex-end;
}
.select-plan__form .toggle {
  height: 12px;
  width: 12px;
  background-color: hsl(218, 100%, 97%);
  border-radius: 50%;
  margin: auto 4px;
}

.add-on__form {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: auto;
  padding: 40px 5% 20px 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -15px #e9e9e9;
}
@media only screen and (min-width: 920px) {
  .add-on__form {
    padding: 35px 7% 75px 7%;
    width: 100%;
    box-shadow: none;
  }
}
.add-on__form .title {
  margin-bottom: 13px;
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
}
@media only screen and (min-width: 920px) {
  .add-on__form .title {
    cursor: default;
  }
}
.add-on__form .description {
  margin-bottom: 25px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (min-width: 920px) {
  .add-on__form .description {
    cursor: default;
  }
}
.add-on__form .add-on__container {
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 7px;
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;
}
@media only screen and (min-width: 920px) {
  .add-on__form .add-on__container {
    cursor: pointer;
  }
  .add-on__form .add-on__container:hover {
    border-color: hsl(243, 100%, 62%);
  }
}
.add-on__form .add-on__container input {
  accent-color: hsl(243, 100%, 62%);
  pointer-events: none;
}
.add-on__form .add-on__container .add-on__text {
  margin-left: 15px;
}
.add-on__form .add-on__container .add-on__title {
  font-size: 1rem;
  color: hsl(213, 96%, 18%);
}
.add-on__form .add-on__container .add-on__description {
  color: hsl(231, 11%, 63%);
  font-size: 0.8rem;
  margin-top: 2px;
}
.add-on__form .add-on__container .add-on__price {
  margin-left: auto;
  font-size: 0.8rem;
  color: hsl(243, 100%, 62%);
}
.add-on__form .--active {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(218, 100%, 97%);
}

.finish__form {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: auto;
  padding: 40px 5% 20px 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -15px #e9e9e9;
}
@media only screen and (min-width: 920px) {
  .finish__form {
    padding: 35px 7% 75px 7%;
    width: 100%;
    box-shadow: none;
  }
}
.finish__form .title {
  margin-bottom: 13px;
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
}
@media only screen and (min-width: 920px) {
  .finish__form .title {
    cursor: default;
  }
}
.finish__form .description {
  margin-bottom: 25px;
  color: hsl(231, 11%, 63%);
}
@media only screen and (min-width: 920px) {
  .finish__form .description {
    cursor: default;
  }
}
.finish__form .finish__content {
  background-color: hsl(218, 100%, 97%);
  border-radius: 7px;
  padding: 15px;
  cursor: default;
}
.finish__form .finish__content .finish__recap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finish__form .finish__content .finish__recap section {
  display: flex;
  flex-direction: column;
}
.finish__form .finish__content .finish__recap .type {
  font-weight: 600;
  color: hsl(213, 96%, 18%);
  font-size: 0.9rem;
}
.finish__form .finish__content .finish__recap .change__button {
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  border: none;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: 500;
  width: 60px;
  transform: translateX(-7px);
}
@media only screen and (min-width: 920px) {
  .finish__form .finish__content .finish__recap .change__button:hover {
    color: hsl(243, 100%, 62%);
    cursor: pointer;
  }
}
.finish__form .finish__content .finish__recap .price {
  font-weight: 600;
  color: hsl(213, 96%, 18%);
  margin-bottom: auto;
  margin-top: 10px;
  font-size: 0.9rem;
}
.finish__form .finish__content hr {
  height: 1px;
  background-color: hsl(231, 23%, 87%);
  border: none;
}
.finish__form .finish__content .finish__add-on {
  display: flex;
  justify-content: space-between;
}
.finish__form .finish__content .finish__add-on .add-on {
  color: hsl(231, 11%, 63%);
  margin-top: 13px;
}
.finish__form .finish__content .finish__add-on .price {
  margin-top: 13px;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}
.finish__form .finish__total {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
  cursor: default;
}
.finish__form .finish__total .total {
  color: hsl(231, 11%, 63%);
  font-size: 0.95rem;
}
.finish__form .finish__total .price {
  font-weight: 600;
  color: hsl(243, 100%, 62%);
}
.finish__form .thank-you {
  padding: 50px 10px;
  text-align: center;
}
.finish__form .thank-you img {
  width: 60px;
  margin-bottom: 20px;
}
.finish__form .thank-you .thank-you__title {
  font-size: 1.5rem;
  color: hsl(213, 96%, 18%);
  margin-bottom: 10px;
}
.finish__form .thank-you .thank-you__description {
  color: hsl(231, 11%, 63%);
  font-size: 0.95rem;
  line-height: 23px;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(218, 100%, 97%);
}
@media only screen and (min-width: 920px) {
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app-content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(218, 100%, 97%);
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20px;
}
@media only screen and (min-width: 920px) {
  .app-content {
    width: 75%;
    max-width: 850px;
    height: auto;
    min-height: 550px;
    background-color: hsl(0, 0%, 100%);
    background-image: none;
    border-radius: 15px;
    display: flex;
    padding: 18px;
    position: relative;
    box-shadow: 0px 10px 30px -15px #d6d6d6;
  }
}
@media only screen and (min-width: 920px) {
  .app-content .desktop-style__modifier {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}/*# sourceMappingURL=App.css.map */