@use "../utils" as u;

#app{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: u.$color-bg-1;

    @include u.desktop-only{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.app-content{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: u.$color-bg-1;
    background-image: (url('../assets/images/bg-sidebar-mobile.svg'));
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 20px;

    @include u.desktop-only{
        width: 75%;
        max-width: 850px;
        height: auto;
        min-height: 550px;
        background-color: u.$color-bg-2;
        background-image: none;
        border-radius: 15px;
        display: flex;
        padding: 18px;
        position: relative;
        box-shadow: 0px 10px 30px -15px #d6d6d6;
    }

    .desktop-style__modifier{
        @include u.desktop-only{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}